body {
	background: url("/img/old_mathematics.png");
}

#content {
	background: none;
}

.sticker {
	background: yellow;
	box-shadow: 5px 5px 5px #999;
	display: inline-block;
	width: 200px;
	padding: 10px;
	box-sizing: border-box;
	min-height: 200px;
	position: absolute;
	border: 1px dotted;
}

.sticker .controls {
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
}

.template {
	display: none;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: auto;
}

#container, #content {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#desktop {
	width: 100%;
	height: 100%;
}

body > nav {
	position: fixed;
	z-index: 50000;
	top: 8px;
	left: 8px;
}

.hue-dial {
	background: rgba(0,0,0,0.5);
	width: 120px;
	height: 120px;
	padding: 10px;
	box-sizing: border-box;
	border: 2px solid;
	display: inline-block;
}
.hide {
	display: none;
}
.yui3-dial-label {
	display: none;
}
.yui3-dial-ring {
	background: url(/img/colorwheel.png) -25px -25px no-repeat;
}

.modified {
	font-size: 0.75em;
}